:root {
  --background: #e4eafc;
  --primary: #44adca;
  --secondary: #d34258;
  --third: #b2b2b2;
  --forth: #2f2f2f;
  --five: #f8f8ff;
  --six: #f3f3f3;
}

.homepage {
  width: 100%;
  height: auto;
}

/* BRAND DETAIL */

.homepage .detail-container {
  margin-top: 50px;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .detail-container .detail-info {
  position: relative;
  width: 600px;
  height: 360px;
  background-image: url("../../public/img/ad-block-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepage .detail-container .detail-info1 {
  position: relative;
  width: 600px;
  height: 360px;
  background-image: url("../../public/img/ad-block-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepage .detail-container .detail-box {
  position: absolute;
  top: 35%;
  left: 7%;
}

.homepage .detail-container .detail-box h4 {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 0px;
  font-size: 30px;
  color: var(--forth);
}

.homepage .detail-container .detail-box p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: var(--forth);
}

/* ADVERTISEMENT */

.homepage .adv-div {
  margin-top: 50px;
  padding-top: 40px;
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--six);
}

.homepage .adv-div .adv-header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homepage .adv-div .adv-header h3 {
  font-size: 34px;
  font-weight: 500;
  line-height: 0px;
  color: var(--forth);
  font-family: "Poppins";
}

.homepage .adv-carusel {
  width: 100%;
  height: 330px;
}

.homepage .adv-carusel .mySwiper {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homepage .adv-carusel .mySwiper .swiper-slides {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .adv-carusel .mySwiper .slides-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 180px;
  border-radius: 50%;
}

.homepage .adv-carusel .mySwiper .slide-txt-info {
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins";
}

.homepage .adv-carusel .mySwiper .slide-txt {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.homepage .adv-carusel .mySwiper .slide-txt img {
  width: 17px;
  height: auto;
}

/* POPULAR WATCHES */

.homepage .popular-watches-frame {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  background: #f8f8ff;
}

.homepage .popular-watches-frame .popular-section {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .popular-watches-frame .popular-section .category-title {
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.44px;
  line-height: 20px;
  color: #000;
}

.homepage .popular-watches-frame .popular-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 42px;
}

.homepage .popular-watches-frame .cards-frame .card {
  border-radius: 0px;
  min-height: 400px;
  min-width: 280px;
  cursor: pointer;
}

.homepage .popular-watches-frame .cards-frame .card .card-cover {
  border-radius: 0px;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 200px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 150px);
}

.homepage .popular-watches-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: var(--secondary);
}

/* NEW PRODUCTS */

.homepage .new-products-frame {
  width: 100%;
  height: 605px;
  display: flex;
}

.homepage .new-products-frame .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .new-products-frame .main .category-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.homepage .new-products-frame .main .cards-frame {
  width: 100%;
  margin: 47px 2px 2px 2px;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .new-products-frame .main .card {
  height: 335px;
  width: 290px;
  cursor: pointer;
}

.homepage .new-products-frame .product-sale {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: var(--six);
}

.homepage .new-products-frame .product-detail {
  width: auto;
  height: 49%;
  display: flex;
  justify-content: center;
  margin-top: -12px;
  border-top: 1px solid;
  border-color: #f8f8ff;
  background-color: #fafbfb;
}

.homepage .new-products-frame .product-detail .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .new-products-frame .product-detail .title {
  width: 65px;
  font-weight: 500;
}

.homepage .new-products-frame .product-detail .price {
  margin-left: 10px;
  width: 20px;
  font-weight: 500;
}

.homepage .new-products-frame .product-detail .views {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.homepage .new-products-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: var(--secondary);
}
