:root {
  --background: #e4eafc;
  --primary: #44adca;
  --secondary: #d34258;
  --third: #b2b2b2;
  --forth: #2f2f2f;
  --five: #f8f8ff;
}

.home-navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.home-navbar .menu {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .menu .links {
  min-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-navbar .menu .links a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--forth);
}

.home-navbar .menu .links .user {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.home-navbar .hover-line {
  color: var(--five);
  z-index: 100;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 1.5px var(--primary);
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 1.2px var(--primary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar .links .left-navbar {
  width: 150px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.home-navbar .links .left-navbar .home-search-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.home-navbar .left-navbar .login-button {
  width: 25px;
  height: 25px;
}
.home-navbar .left-navbar .login-button .login-icon {
  font-size: 25px;
  margin: 0;
  cursor: pointer;
}

.home-navbar .left-navbar .user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 24px;
  cursor: pointer;
}

.home-navbar .carusel {
  position: relative;
  width: 100%;
  height: auto;
}
.home-navbar .carusel .carusel-txt {
  position: absolute;
  top: 20%;
  left: 12%;
}

.home-navbar .carusel .carusel-txt .my-swiper-slide p {
  font-size: 36px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 0;
  color: var(--forth);
}

.home-navbar .carusel .carusel-txt .my-swiper-slide h1 {
  font-size: 60px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 0;
}

.home-navbar .carusel .mySwiper img {
  width: 100%;
  height: 100%;
}

.home-navbar .carusel .carusel-txt .swiper-button {
  position: absolute;
  left: 0;
  margin-top: 10px;
  width: 180px;
  height: 50px;
  background-color: var(--primary);
  color: #f8f8ff;
  font-weight: 400;
}

/* OTHER NAVBAR */

.other-navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.other-navbar .menu {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .menu .links {
  min-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.other-navbar .menu .links a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--forth);
}

.other-navbar .links .left-navbar {
  width: 150px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.other-navbar .links .left-navbar .home-search-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.other-navbar .left-navbar .login-button {
  width: 25px;
  height: 25px;
}
.other-navbar .left-navbar .login-button .login-icon {
  font-size: 25px;
  margin: 0;
  cursor: pointer;
}

.other-navbar .left-navbar .user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 24px;
  cursor: pointer;
}

.other-navbar .menu .links .user {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.home-navbar .hover-line {
  color: var(--five);
  z-index: 100;
}

.other-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 1.5px var(--primary);
}

.other-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 1.2px var(--primary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.other-navbar .navbar-img {
  width: 100%;
  height: 300px;
  background-image: url("/public/img/clock-8300238_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* BASKET */

.basket {
  color: #000000;
}
.basket-frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
  border-radius: 16px;
}

.basket-frame .all-check-box {
  padding: 0px 10px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--secondary);
  color: #f8f8ff;
}

.basket-frame .all-check-box .all-delete {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket-info-box .product-img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket-info-box .product-name {
  margin-left: 11px;
  width: 185px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-info-box .product-price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .cancel-btn {
  position: absolute;
  top: 33%;
  right: 2%;
  color: #d34258;
  cursor: pointer;
}

.basket-frame .basket-order {
  margin-top: 10px;
  width: 100%;
  padding: 0px 12px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.basket-order .price {
  width: 245px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}

.basket-order .shopping-card {
  background-color: #44adca;
  color: #f8f8ff;
}

.basket-order .shopping-card:hover {
  background-color: #44adca;
  color: #f8f8ff;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}
